<mat-card class="card-modern">
  <div class="header-container">
    <mat-card-title class="title">Gestión de Ventas</mat-card-title>

    <button mat-raised-button color="primary" class="btn-create" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon>
      Nueva Venta
    </button>
  </div>

  <mat-card-content>
    <div class="table-container">
      <table mat-table [dataSource]="sales" class="modern-table mat-elevation-z2">

        <!-- DNI -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td mat-cell *matCellDef="let element"> {{ element.clienteDni }} </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="clienteNombre">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{ element.clienteNombre }} </td>
        </ng-container>

        <!-- Serie -->
        <ng-container matColumnDef="serie">
          <th mat-header-cell *matHeaderCellDef> Serie </th>
          <td mat-cell *matCellDef="let element"> {{ element.serie }} </td>
        </ng-container>

        <!-- Número Factura -->
        <ng-container matColumnDef="numeroFactura">
          <th mat-header-cell *matHeaderCellDef> Nº Factura </th>
          <td mat-cell *matCellDef="let element"> {{ element.numeroFactura }} </td>
        </ng-container>

        <!-- Total -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> S/ {{ element.total }} </td>
        </ng-container>

        <!-- Filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          class="row-hover">
        </tr>

      </table>
    </div>
  </mat-card-content>
</mat-card>
